{% extends 'admin/components/layout.html.twig' %}

{% block title %}Seznam kytar{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Seznam kytar</h1>
    {% include 'admin/components/flashes.html.twig' %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Modely</h6>
        </div>
        <div class="card-body">
            WHAHWA
        </div>
    </div>
{% endblock %}