@import "./margin.styl"
@import "./container.styl"
@import "./palet.styl"
@import "./fonts.styl"
@import "./text.styl"
@import "./body.styl"
@import "./link.styl"
@import "./thumbnail_menu.styl"
@import "./background.styl"
@import "./util.styl"
@import "./tabs.styl"
@import "./input.styl"
@import "./language.styl"
@import "./splide.styl"
@import "./border.styl"
@import "./img.styl"