html
  font-size 80%

  @media (min-width 576px)
    font-size 85%

  @media (min-width 768px)
    font-size 90%

  @media (min-width 992px)
    font-size 95%

  @media (min-width 1200px)
    font-size 100%

body
  background-color $color-main-background
  color $color-main-text
