.language-switcher
  background-color $color-second-background
  padding 1.75rem
  position absolute
  top 0
  right 0
  cursor pointer

  .hamburger
    display block

  .languages
    display none

.language-switcher:hover
  padding 1.5rem 2rem

  .hamburger
    display none

  .languages
    display block