.mt-6
  margin-top 4rem

.mt-7
  margin-top 5rem

.mt-8
  margin-top 6rem

.mt-9
  margin-top 7rem

.mb-6
  margin-bottom 5rem

.mb-7
  margin-bottom 7rem

.mb-8
  margin-bottom 11rem

.mb-9
  margin-bottom 13rem

.mb-10
  margin-bottom 17rem

@media (min-width 576px)
  .mt-sm-6
    margin-top 4rem

  .mt-sm-7
    margin-top 5rem

  .mt-sm-8
    margin-top 6rem

  .mt-sm-9
    margin-top 7rem

  .mb-sm-6
    margin-bottom 5rem

  .mb-sm-7
    margin-bottom 7rem

  .mb-sm-8
    margin-bottom 11rem

  .mb-sm-9
    margin-bottom 13rem

  .mb-sm-10
    margin-bottom 17rem

@media (min-width 768px)
  .mt-md-6
    margin-top 4rem

  .mt-md-7
    margin-top 5rem

  .mt-md-8
    margin-top 6rem

  .mt-md-9
    margin-top 7rem

  .mb-md-6
    margin-bottom 5rem

  .mb-md-7
    margin-bottom 7rem

  .mb-md-8
    margin-bottom 11rem

  .mb-md-9
    margin-bottom 13rem

  .mb-md-10
    margin-bottom 17rem

@media (min-width 992px)
  .mt-lg-6
    margin-top 4rem

  .mt-lg-7
    margin-top 5rem

  .mt-lg-8
    margin-top 6rem

  .mt-lg-9
    margin-top 7rem

  .mb-lg-6
    margin-bottom 5rem

  .mb-lg-7
    margin-bottom 7rem

  .mb-lg-8
    margin-bottom 11rem

  .mb-lg-9
    margin-bottom 13rem

  .mb-lg-10
    margin-bottom 17rem

@media (min-width 1200px)
  .mt-xl-6
    margin-top 4rem

  .mt-xl-7
    margin-top 5rem

  .mt-xl-8
    margin-top 6rem

  .mt-xl-9
    margin-top 7rem

  .mb-xl-6
    margin-bottom 5rem

  .mb-xl-7
    margin-bottom 7rem

  .mb-xl-8
    margin-bottom 11rem

  .mb-xl-9
    margin-bottom 13rem

  .mb-xl-10
    margin-bottom 17rem