.mt-6
  margin-top 4rem

.mt-7
  margin-top 5rem

.mt-8
  margin-top 6rem

.mt-9
  margin-top 7rem

.mb-6
  margin-bottom 5rem

.mb-7
  margin-bottom 7rem

.mb-8
  margin-bottom 11rem

.mb-9
  margin-bottom 13rem

.mb-10
  margin-bottom 17rem