<div>
    <h3 style="font-weight:lighter;">
        Zákazník - <strong style="font-weight:bold; font-style: italic;">{{ name }}</strong> vyplnil formulář na stránce <strong style="font-weight:bold;">Merch</strong><br>
        E-mail - <strong style="font-weight:bold;">{{ email }}</strong>
    </h3>
    <p class="mb-2">Dotaz - <strong style="font-weight:bold;">{{ content }}</strong></p>
</div>