<div class="container pt-5 mb-4 pb-1">
    <div class="pt-5 mb-4 pb-1">
        <h5 class="text-gotic">Stromberg</h5>
        <p>NBE Corp. - Vaclavova 2, 160 005 Prague 6 <a class="ml-4" href="mailto:info@nbe.cz">info@nbe.cz</a></p>
    </div>
</div>