<div class="container pt-5 mb-4 pb-1">
    <div class="pt-5 mb-4 pb-1">
        <h5 class="text-gotic">Stromberg</h5>
        <p>NBE Corporation s. r. o. — Sklenářka 1512, 268 01 Hořovice — Czech Republic <a class="ml-4" href="mailto:info@nbe.cz">info@nbe.cz</a></p>
    </div>
</div>