<div class="container mb-6">
    <div class="row" data-aos="fade-up">
        <div class="col-12 col-xl-9">
            <h1 class="title movinwords-sentence">{{ title }}</h1>
        </div>
    </div>
</div>