<div class="row mb-6" data-aos="fade-up">
    <div class="col-12 col-xl-4">
        <h2>{{ header }}</h2>
    </div>
    <div class="col-12 col-xl-2"></div>
    <div class="col-12 col-xl-5">
        <div>
            <p>
                {{ text|raw }}
            </p>

            {{ link|raw }}
        </div>
    </div>
</div>