{% extends 'site/layout.html.twig' %}

{% block title %}About STROMBERG{% endblock %}
{% block description %}
    The most iconic names in jazz and archtop guitars.
    Established in 1905, Stromberg guitars are known around the world as premier archtop guitars with a reputation
    for sound and playability.
{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}
    {% include 'site/app/_component/page_title.html.twig' with {title: 'site.about.title'|trans} %}

    <div class="container mt-5" data-aos="fade-up">
        {% include 'site/app/_component/short_block_with_text.html.twig' with {
            'header': 'About STROMBERG',
            'text': 'D’Angelico ®, D`Aquisto ® Stromberg. The most iconic names in jazz and archtop guitars.
Established in 1905, Stromberg guitars are known around the world as premier archtop guitars with a reputation
for sound and playability. Designed and built to excel in the big band jazz setting, Stromberg guitars have
always been known for their high quality construction and the ability to “cut through the mix”. Today’s
Stromberg guitars continue that tradition and stay true to the legacy of this iconic brand.

Manufactured in Europe to the highest standards of workmanship, materials and quality, each Stromberg is
built by combining the advances in guitar production technology and the long practiced traditional handcraftsmanship
of some of Europe’s leading builders. At Stromberg, we provide the working musician with top quality instruments
that exemplify the history of Stromberg and connect to their legacy in jazz and contemporary music.',
            'link': ''
        } %}

        <img class="img-full mb-6" src="{{ asset('images/about_us.jpg') }}" alt="Image" loading="lazy">

        <div>
            <h2 class="mb-4">History</h2>
            <div class="text-two-column">
                Charles Stromberg began building musical instruments in Boston, Massachusetts USA in the early 1900s.
                This Swedish immigrant began by building drums and banjos which were popular in the US at the time.
                As his reputation and business grew, he was joined by his son Elmer around 1910 and became Chas.
                Stromberg and Son. As the popularity of jazz music and big bands grew,
                Charles and Elmer expanded their line to include guitars.

                <br>
                <br>

                After moving to the now historic location of 40 Hanover Street in 1927, Stromberg built their first guitar.
                Guitars were offered to the public but were still a sideline to the drum and banjo production.
                Then, in 1930, after Charles and Elmer reorganized the business and placed the guitar products in Elmer’s
                control, he set about to completely redesign the entire line. Understanding the guitars growing
                popularity in jazz music and the fact that guitars often were hard to hear in the big band setting,
                Elmer introduced the innovations of increasing the body size and restructuring the f-holes to produce a
                much louder, bigger sound. This new, louder and better sound was quickly noticed and adopted by local
                jazz legends Irving Ashby and Freddie Green. Stromberg guitars were seen regularly in legendary big bands
                of the day, and 40 Hanover Street became a destination for many visiting jazz guitarists of the day.

                <br>
                <br>

                While well known in the industry, Stromberg’s attention to detail and unwavering dedication to sound and
                playability meant that production was limited. Unfortunately Charles and Elmer were not great at record
                keeping, and the number of instruments produced is not truly known. During the period of twenty years,
                it is estimated that up to 600 guitars were built.

                <br>
                <br>

                Charles Stromberg passed away in 1955, leaviing Stromberg to Elmer. Unfortunately and unexpectedly,
                Elmer Stromberg died just a few months after his father, leaving a legacy that continues to this day.

                <br>
                <br>

                The demand for Stromberg guitars has never been stronger. After nearly a decade of study and design,
                Stromberg guitars are now being built again. Every Stromberg guitar is manufactured in Stromberg’s native
                Europe and infused with the sound, quality and unique experience that can only be created by playing a
                masterfully handcrafted Stromberg guitar.
            </div>
        </div>
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}