{% extends 'site/layout.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% include 'site/app/_component/header.html.twig' %}
    {% include 'site/app/_component/page_title.html.twig' with {title: etrans.read(post.title)} %}

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-12 col-lg-8">
                <img class="mb-4 img-full" src="{{ asset(imageAssets ~ post.imageFilename) }}" alt="img" />
            </div>
        </div>
    </div>

    <div class="container mt-5 text-two-column" data-aos="fade-up">
        {{ etrans.read(post.content)|raw }}
    </div>

    {% include 'site/app/_component/footer.html.twig' %}
{% endblock %}